* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "맑은 고딕", "돋움";
    font-size: 12px;
    color: #444444;
}

#page {
    width: 980px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
}