#page {
    width: 980px;
    margin: 0 auto;
}

#customer {
    width: 300px;
    height: 111px;
    float: left;
    margin-top: 20px;
}

#customer .title{
    margin-left: 10px;
    float: left;
}

#customer .more {
    float: right;
}

#customer .phone {
    margin-left: 10px;
}

#notice {
    width: 300px;
    height: 111px;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

#notice .title {
    margin-left: 10px;
    float: left;
}

#notice .more {
    float: right;
}

#notice ul {
    margin-top: 12px;
}

#notice li {
    margin-top: 5px;
}

#notice .subject {
    float: left;
    margin-left: 10px;
}

#notice .date {
    float: right;
    margin-right: 5px;
}

#faq {
    width: 300px;
    height: 111px;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}

.line {
    margin-top: 25px;
    border-top: solid 1px #cccccc;
}