#page {
    width: 980px;
    margin: 0 auto;
}

footer {
    padding: 20px 0 0 15px;
    border-top: solid 3px #06b5b8;
    color: #666666;
}

footer #address {
    float: left;
}

footer #footer_menu li {
    margin-top: 5px;
}

footer #company_info {
    margin-top: 20px;
}

footer #company_info li {
    margin-top: 2px;
}

footer #copyright {
    padding-top: 10px;
    font-size: 11px;
    color: #888888;
}

footer #link {
    float: right;
}

footer #link h3 {
    font-size: 16px;
    color: #06b5b8;
}

footer #link select {
    margin: 5px 0 0 50px;
    width: 100px;
    height: 18px;
    font-size: 11px;
}

footer #icons {
    margin-top: 5px;
    text-align: right;
}