aside {
    float: left;
    width: 190px;
}

/* login */

aside #login_box {
    width: 186px;
    height: 120px;
    border: solid 1px #dddddd;
    border-radius: 10px;
    background-color: #f3f3f3;
}

aside #login_title {
    margin: 10px 0 0 10px;
}

aside #input_button {
    margin: 10px 0 0 10px;
}

aside #login_input {
    float: left;
}

aside #login_input input {
    width: 100px;
    height: 20px;
    border: solid 1px #dddddd;
}

aside #login_input li {
    margin_top: 2px;
}

aside #login_btn {
    float: left;
    margin: 3px 0 0 5px;
}

aside #join_search {
    margin: 10px 0 0 5px;
}

/* guestbook */

aside #guestbook {
    width: 189px;
    height: 135px;
    margin-top: 15px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #dddddd;
}

aside #guestbook_title {
    width: 165px;
    margin: 0 0 0 8px;
    padding: 10px 0 0 5px;
    border-bottom: solid 1px #cccccc;
}

aside #guestbook ul {
    margin: 10px 0 0 40px;
}

aside #guestbook li {
    margin-top: 5px;
    list-style-image: url("../img/icon_blue.gif");
}

/* main */

section#main {
    float: right;
    width: 758px;
    /* border: solid 1px #ff0000; */
}

/* notice_free_youtube */

section#main #notice_free_youtube {
    position: relative;
    height: 250px;
    margin-top: 10px;
    /* border: solid 1px #ff0000; */
}

section#main #notice {
    position: absolute;
    width: 360px;
    /* border: solid 1px #ff0000; */
}

section#main.latest_title {
    float: left;
}

section#main .latest_title img.more {
    float: right;
}

section#main .latest_content .image {
    float: left;
    margin: 10px 0 0 20px;
}

section#main .latest_content .list {
    float: right;
    /*border: solid 1px #ff0000; */
}

section#main .latest_content li {
    padding: 10px 0 10px 0;
    /* border: solid 1px #ff0000; */
}

section#main .latest_content .list div {
    float: left;
}

section#main #free {
    position: absolute;
    top: 120px;
    width: 360px;
    /* border: solid 1px #0000ff; */
}

section#main #youtube {
    position: absolute;
    left: 380px;
    width: 365px;
    height: 250px;
    /* border: solid 1px #0000ff; */
}

section#main #youtube_img {
    margin: 10px 0 0 45px;
}

/* gallery */

section#main #gallery_box {
    width: 749px;
    height: 204px;
    margin: 10px 0 0 5px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #dddddd;
}

section #gallery_list {
    padding: 25px 0 0 18px;
}

section .items {
    float: left;
    text-align: center;
    margin-left: 35px;
}

section .items li {
    margin-top: 3px;
}